/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
body{
	margin: 0 auto;
	padding: 0px;
	font-family: 'Raleway';
	background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

/*MENU*/
.menu{
	background-color: #E54E79; 
	width: 100%;
	height: 50px;
	z-index: 2;
}

.izq{
	background-image: url(../img/logo-white.png);
	background-repeat: no-repeat;
	background-size: 50%;
	width: 100px;
	height: 50px;
	position:relative;
	left: 220px;
	top: 7px;
	display: inline-block;
}

.der{
	width: 50%;
	float: right;
	margin-right: 150px;
}
ul{
	list-style: none;
	margin: 0;
	padding: 15px;
	overflow: hidden;
	position: relative;
	float: right;
	right: 30px;
}
ul li{
	display: inline-block;
}
ul li a{
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
}
a:hover{
	background-color: rgba(117,114,108,0.5);
}

/* CUADRO DEL CENTRO */
.cuadro{
	width: 500px;
	height: 400px;
	position: absolute;
	background-color: #EDE9E2;
	right: 0px;
	top: 50px;
	margin-top: 150px;
}
.contenido{
	margin: 50px 30px 50px 30px;
}
.celeste{
	text-transform: uppercase;
	color: #00B2A9;
}
.signtext{
	text-transform: uppercase;
	color: #75726C;
}

/*Input del cuadro*/
#input{
	background-color: #EDE9E2;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 2px solid #75726C;
	width: 90%;
	height: 50px;
	color: #75726C;
}
#input:focus{
	outline: 0px;
}
.boton{
	color: white;
	text-transform: uppercase;
	width: 200px;
	margin-top: 20px;
	padding: 10px;
	background-color: #E54E79;
	border-radius: 12px;
	border-right-style: none;
	border-bottom-style: solid;
}
.fa-heart{
	color:white;
	font-size: 18px;
}
.textoabajo{
	font-size: 14px;
}
/*Parte del Play*/
.juego{
	background-color: #00B2A9;
	position: relative;
	height: 500px;
	top: 630px;
}
.textojuego{
	font-size: 30px;
	text-transform: uppercase;
	background-color: #EDE9E2;
	color: #75726C;
	width: 100%;
	position: relative;
	top: 50px;
	text-align: center;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 10px;
}
.autos{
	background-color: #EDE9E2;
	width: 900px;
	height: 200px;
	position: relative;
	top: 100px;
	left: 200px;
	right: 200px;
}
nav{
	position: fixed;
}