/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
body{
	margin: 0 auto;
	padding: 0px;
	font-family: 'Raleway';
	background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

/*MENU*/
.menu{
	background-color: #E54E79; 
	width: 100%;
	height: 50px;
	z-index: 2;
}
nav{
	position: fixed;
}
.izq{
	background-image: url(../img/logo-white.png);
	background-repeat: no-repeat;
	background-size: 50%;
	width: 100px;
	height: 50px;
	position:relative;
	left: 220px;
	top: 7px;
	display: inline-block;
}

.der{
	width: 50%;
	float: right;
	margin-right: 150px;
}
ul{
	list-style: none;
	margin: 0;
	padding: 15px;
	overflow: hidden;
	position: relative;
	float: right;
	right: 30px;
}
ul li{
	display: inline-block;
}
ul li a{
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
}
a:hover{
	background-color: rgba(117,114,108,0.5);
}

/* CUADRO DEL CENTRO */
.cuadro{
	width: 500px;
	height: 400px;
	position: absolute;
	background-color: #EDE9E2;
	right: 0px;
	top: 50px;
	margin-top: 150px;
}
.espacio{
	height: 100px;
}
.contenido{
	margin: 50px 30px 50px 30px;
}
.celeste{
	text-transform: uppercase;
	color: #00B2A9;
}
.signtext{
	text-transform: uppercase;
	color: #75726C;
}

/*Input del cuadro*/
#input{
	background-color: #EDE9E2;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 2px solid #75726C;
	width: 90%;
	height: 50px;
	color: #75726C;
}
#input:focus{
	outline: 0px;
}
.boton{
	color: white;
	text-transform: uppercase;
	width: 200px;
	margin-top: 20px;
	padding: 10px;
	background-color: #E54E79;
	border-radius: 12px;
	border-right-style: none;
	border-bottom-style: solid;
	cursor: pointer;
	outline: 0px;
}
.fa-heart{
	color:white;
	font-size: 18px;
}
.textoabajo{
	font-size: 14px;
}
/*Parte del Play*/
.juego{
	background-color: #00B2A9;
	position: relative;
	height: 520px;
	top: 630px;
}
.textojuego{
	font-size: 30px;
	text-transform: uppercase;
	background-color: #EDE9E2;
	color: #75726C;
	width: 100%;
	position: relative;
	top: 50px;
	text-align: center;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 10px;
}
.autos{
	background-color: #EDE9E2;
	width: 850px;
	height: 150px;
	position: relative;
	top: 100px;
	left: 200px;
	right: 200px;
	padding-top: 50px;
	text-align: center;
}
.fa-car{
	color: #75726C;
	font-size: 30px;
	padding-left: 10px;
}
#xcorde, #ycorde{
	background-color: #EDE9E2;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px solid #75726C;
	width: 320px;
	height: 40px;
	color: #75726C;
}
#xcorde:focus, #ycorde:focus{
	outline: 0px;
}
.start{
	color: white;
	text-transform: uppercase;
	width: 800px;
	margin-top: 20px;
	padding: 10px;
	background-color: #00B2A9;
	border-radius: 12px;
	border-right-style: none;
	border-bottom-style: solid;
	cursor: pointer;
	outline: 0px;
}
/*FOOTER*/
.fondo{
	background-color: #75726C;
	position: relative;
	top: 500px;
	height: 150px;
}
.linea{
	position: relative;
	background-color: #666666;
	height: 50px;
	top: 40px;
}
.textoizq{
	float: left;
	position: relative;
	top: 20px;
	left: 200px;
	color: white;
}
.textoder{
	position: relative;
	top: 20px;
	left: 550px;
	width: 450px;
	color: white;
}
h3{
	color: white;
}
.squad{
	color: #00B2A9;
	font-weight: bolder;
	text-align: center;
	text-shadow: 1px 1px 1px white;
}
.lista{
	text-decoration: none;
	text-align: center;
	color: white;
}
.abajoi{
	color: #EDE9E2;
	font-size: 12px;
	margin-left: 200px;
	padding-top: 20px;
	float: left;
}
.abajod{
	color: #EDE9E2;
	font-size: 12px;
	margin-right: 200px;
	padding-top: 20px;
	float: right;
}
.fa-facebook, .fa-twitter, .fa-instagram{
	font-size: 25px;
	margin-left: 10px;
}

a.icono{
	outline: 0;
	text-decoration: none;
	border: none;
	color: white;
}
a.icono:hover{
    outline: 0;
	text-decoration: none;
	border: none;
}

/*Prueba tablero Blanca*/

#tablero{
	margin-top: 10px;
}
.casilla{
  box-sizing: border-box;
  /*Es mejor con float:left*/
  display:inline-block;
  background-color: #581845;
  color: whitesmoke;
  padding: 10px;
  font-family: sans-serif;
  width: 10%;
  text-align: center;
  border: 5px #900C3F solid;
}
.imagen{
	border: none;
	margin:0;
	padding: 0;
}